
body {
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    /* --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1); */

    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */
    
  
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 100px;
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--color2);
}


header {
    display: flex;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
}

.gutter-right {
    margin-right: 20px;
}
  
footer {
    position: relative;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}
  
#fork-knife {
  display: flex;
}

#delicious {
  display: flex;
  font-family: 'Pacifico', cursive;
  font-style: italic;
  font-size: 35px;
  flex-direction: column;
}

#best {
  display: flex;
  flex-direction: column;
  font-size: 10px;
}

#logos {
  display: flex;
  height: 30px;
  margin-left: auto;
  margin-top: 20px;
}

#logos img {
  display: inline-block;
  margin: 1px;
}
  
#pinterest {
  padding-right: 10px;
}

h1 {
  font-family: 'Londrina Solid', cursive;
  font-size: 40px;
  padding-top: 54px;
 
}

h6 {
  font-size: 10px;
  color: rgb(189, 189, 189);
}

#headers {
  display: flex;
}

#blog-entry {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.tab { 
  text-indent:40px;
  margin: 15px;
}

#not-chocolate-pizza {
  display: flex;
  margin-bottom: 10px;
}

ul {
  list-style-type: square;
  list-style-position: inside;
}

#ingredients {
  position:relative;
  text-align: center;
}

#left {
  position: absolute;
  left: 310px;
  top: 60px;
}

#right {
  position: absolute;
  right: 310px;
  top: 60px;
  
}

#author-info {
  display: flex;

}

#author-photo {
  display: flex;
}

#author-name {
  display: flex;
  font-size: 30x;
  font-weight:bolder;
  flex-direction: column;
}

#author-bio {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

button {
  color: white;
  background-color: #FFCBA4;
  display: flex;
  height: 30px;
  margin-left: auto;
  margin-top: 20px;
}

#copy-gutter-right {
}


